.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-helmet-safety{
    font-size: 4rem;
}

.search_bar{
    border: 1.5px solid gray;
}
input{
    font-size: 20px;
    padding: 12px;
    border: none;
    color: black;
    outline: none;
}
.fa-magnifying-glass{
font-size: 25px;
padding: 10px;
}
.fa-magnifying-glass:hover{
    cursor: pointer;
}

.header a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.header button{
    
    padding: 10px;
    width: 100px;
    background-color: #3c97d6;
    border: none;
    border-radius: 5px;
}

.container{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 40px;
    margin-top: 50px;
    padding: 0px 50px;
}

.container .left{
    /* background-color: aqua; */
}
.container .right{
    /* background-color: aqua; */
    text-align: left;
}
.container .right h3{
    padding-left: 30px;
}

.left a{
    text-decoration: none;
    font-size: 3rem;
}

.left p{
    font-size: 20px;
}

.right {
    font-size: 25px;
}
.left button{
    /* position: absolute; */
    /* right: 0px; */
    background-color: rgb(68, 68, 242);
    padding: 6px;
    border: none;
    border-radius: 6px;
}

.left button a{
    color: #fff;
    text-decoration : none;
    font-size: 20px;
}    